*{
    background-color: yellow;
}
.navbar{
    height: 45.4px;
}
.nav{
    margin-bottom: -6px;
    position: relative;
    left: 2px;
    margin-top: -11px;
    height: 34px;
}

.nav-link{
    background-color: white;
    font-weight: 500;
    text-decoration: none;
    line-height: 24px;
    font-size: 14.7px;
    letter-spacing: .05px; 
    padding: 8px 0px 0px;
    height: 30px;
}
.nav-item{
    height: 30px;
    margin-right: 26px;
}

.nav-link:hover{
    border-bottom: 2px solid rgba(38, 38, 38, 0.5);
    color: rgb(38, 38, 38);   
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 0.1rem;
    padding-left: 0.1rem;
}
.img-gosth{
    position: absolute;
    top: 9px;
    left: 226px;
}
@media (min-width: 992px){
.nav-link{
    overflow: hidden;
}
}

