@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&family=Rubik:wght@600&display=swap');
*{
    background-color: yellow;
}
.navbar{
    height: 45.4px;
}
.nav{
    margin-bottom: -6px;
    position: relative;
    left: 2px;
    margin-top: -11px;
    height: 34px;
}
.nav-link-descargar{
    border-bottom: 2px solid rgb(38, 38, 38);
}

.nav-link{
    background-color: white;
    font-weight: 500;
    text-decoration: none;
    line-height: 24px;
    font-size: 14.7px;
    letter-spacing: .05px; 
    padding: 8px 0px 0px;
    height: 30px;
}
.nav-item{
    height: 30px;
    margin-right: 26px;
}

.nav-link:hover{
    border-bottom: 2px solid rgba(38, 38, 38, 0.5);
    color: rgb(38, 38, 38);   
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 0.1rem;
    padding-left: 0.1rem;
}
.img-gosth{
    position: absolute;
    top: 9px;
    left: 226px;
}

.download-button-container{
    display:none;
}
@media (min-width: 1px) and (max-width: 992px){
    .acompañante-cuadrante {
        padding-top: 0 !important;
    }

    .sms-fields{
        display: none;
    }
    .video-cuadrante{
        align-items: center;
        flex-direction: column;
        margin-right: -43px;
    }

    .video{
        max-width: 203px;
        height: 100% !important;
        margin-bottom: 17px;
    }

    .headline{
        font-size:36px !important;
    }

    .acompañante-cuadrante{
        display: flex;
        justify-content: center;
    }

    .download-button-container{
        display:block;
    }
    .download-button{
        background-color: #000;
        border-radius: 50px;
        color: #fff;
        display: inline-block;
        font-family: 'Rubik', sans-serif;
        font-size: 22px;
        margin-bottom: 30px;
        text-align: center;
        width: 275px;
        padding: 9px;
        text-decoration: none;
    }
    .download-button:hover{
        color: #fff;
    }
    .row{
        margin-top: 91px !important;
    }
}

@media (min-width: 992px){
.nav-link{
    overflow: hidden;
}
}
@media (max-width: 992px){
.navbar-collapse .nav-item .nav-link{
    display: block;
    line-height: 24px;
    height: 49px;
    width: 101%;
    padding-right: 21px;
    padding-top: 13px;
    border-bottom: 1px solid #F8F9FB;
    visibility: visible;
}
}
@media (max-width: 992px){
.navbar-collapse .nav-item, .globalnav-container .nav-item{
    display: block;
    padding-top: 2px;
    text-align: right;
    background-color: white;
    margin-right: -7px;
    height: 46px;
    width: 1000px;
}
}

@media (max-width: 992px){
    .nav-link:hover{
        background-color: #e5eaf0;
        border-bottom: 1px solid #e5eaf0;
    }
    .navbar-collapse  {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
        margin-top: 10px;
    }
    .navbar-nav{
        display: block;
        width: 58%;
        height: 591px;
    
    }
    .nav-link-descargar{
        border-bottom: 1px solid #dee2e6;
    }
    .glovalnav-home-link {
        visibility: visible;
    }
    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: none;
    }
} 

.navbar-light .navbar-toggler-icon:active{
    background-image: url(img/letra-x.png);
    font-size: 12px;
    height: 30px;
    margin-right: 10px;
}
    

.glovalnav-home-link {
    position: relative;
    color: rgb(38, 38, 38);
    visibility: hidden;
}

.nav-item-inicio{
    background: white;
    margin-right: -37px;
}

.row{
    justify-content: center;
    align-items: center;
    margin-top: 19px;
    height: 650px;
}
.row > * {
    max-width: 100%;
    padding-left: 0;
}
.video-cuadrante{
    padding-right: 38px;
    justify-content: right;
}

.acompañante-cuadrante{
    padding-top: 60px;
    padding-left: 5px;
}

.video {
    height: 555px;
    border-radius: 12px;
    transition: opacity 650ms cubic-bezier(0, 0, 0, 1);
}

.headline {
    font-family: 'Rubik', sans-serif;
    font-size: 42px;
    line-height: 8px;
    margin-bottom: 27px;
    margin-top: 20px;
}

.sub-headline{
    font-family:'Rubik', sans-serif;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 16px;
    opacity: 0.7;
}
.country-select{
    font-family: 'Rubik', sans-serif;
    background-color: #fff;
    border: none;
    outline: none;
    height: 41px;
    margin-top: 0px;
    width: 78px;
    margin-right: 6px;
}
option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    background-color: white;
}

.phone-input{
    background-color: #fff;
    border: none;
    border-radius: 5px 0 0 5px;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    line-height: normal;
    text-indent: 15px;
    width: 204px;
    height: 42px;
}
.phone-input:focus{
    outline: 2px solid black;
}

.send-button{
    background-color: #000;
    border-radius: 0 5px 5px 0;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    width: 135px;
    height: 44px;
    margin: 0 -3px;
}
.full-disclosure{
    display: block;
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    line-height: 12px;
    margin: 8px 0 16px 0;
    opacity: 0.5;
}
.link-1{
    text-decoration: none;
}

.store.google {
    width: 133px;
    height: 40px;
    background-image: url(img/google.svg);
    position: relative;
    right: 33px;
    border-radius: 4px;
    top: 2px;
}
.store.apple .action{
    width: 8.4375em;
    height: 2.5em;
    background-image: url(img/appstore.svg);
    background-repeat: no-repeat, repeat;
    position: relative;
    border-radius: 2px; 
    margin-top: -8px;
    margin-left: -15px;
}
.store.google .action{
    width: 8.4375em;
    height: 50px;
    background-image: url(img/google.svg);
    background-repeat: no-repeat, repeat;
    position: relative;
    border-radius: 2px;
    margin-top: -14px;
    margin-left: -8px;
}
.store.google::marker{
    color: yellow;
    background-color: white;
}
.store.apple::marker{
    color: yellow;
    background-color: white;
}
.action{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    top: 8px;
    left: 7px;
    overflow: hidden;
    text-indent: -1000em;
    display: inline-block;
}

@media (min-width: 1px) and (max-width: 900px){
    .action{
        visibility: hidden;

    }
    .sub-headline{
        visibility: hidden;
        
    }
    .input-field{
        visibility: hidden;
    }
    .full-disclosure{
        visibility: hidden;
    }
    .stores{
        visibility: hidden;
    }
    }

.row1 {
    justify-content: center;
    align-items: center;
    margin-top: 0;
    background-color: white;
    height: 312px !important;
}    

.direccion-para-todos{
    flex-direction: column !important;
}

.container-para-todos{
    margin-top: 44px;
}